streamlit
openai-whisper
spacy==3.7.2
numpy==1.26.4
nltk
transformers
gTTS
torch
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
